$background-color: #30343f;
$primary-color: #d0bffc;
$secondary-color: #ffb3a6;
$text-color: #fafaff;

body {
  margin: 0;
  padding: 0;

  background: $background-color;

  color: $text-color;
  font-family: 'Montserrat', sans-serif;

  font-size: 1.25rem;

  max-width: 100vw;

  h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
  }

  a {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
    text-decoration: none;

    &:visited {
      color: $primary-color;
    }
  }

  .close-button {
    color: $text-color;
    border: none;
    background: none;
    font-size: 30px;
    margin: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;

    &:hover {
      transition: all 0.3s ease-in-out;
      color: $secondary-color;
      scale: 1.5;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter-from {
  transform: translateX(25%);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(-25%);
  opacity: 0;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
