$background-color: #30343f;
$primary-color: #d0bffc;
$secondary-color: #ffb3a6;
$text-color: #fafaff;

body {
  margin: 0;
  padding: 0;

  background: $background-color;
  
  color: $text-color;
  font-family: 'Montserrat', sans-serif;

  h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
  }

  a {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
    text-decoration: none;

    &:visited {
      color: $primary-color;
    }
  }

  .close-button {
    color: $text-color;
    border: none;
    background: none;
    font-size: 30px;
    margin: 0;

    &:hover {
      transition: all 0.3s ease-in-out;
      color: $primary-color;
      background: none;
      border: none;
      scale: 1.5;
    }
  }
}